
/*-------------------CSS reset & Formatage-------------------*/


* {margin: 0; padding: 0; overflow-x: hidden;}
::-webkit-scrollbar {display: none;}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(63, 63, 63);
    font-size: 1em;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(63, 63, 63);
    font-size: 1em;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://farm4.staticflickr.com/3921/14781339721_02164c9274_c.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
}

.home {
    height: 64px;
    width: 64px;
    background-image: url("../images/home2.png");
    position: absolute;
    top: 2%;
    left: 2%;
}

.home a {
    height: 64px;
    width: 64px;
    display: flex;
}

.portfoliotitle {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: auto;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Menu */

nav.round_menu {
    margin: 2% 0%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.option {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    transition-duration: 0.5s;
    border: 2px solid rgb(63, 63, 63);
    cursor: pointer;
}

.option:hover a {
    color: white;
}

.option a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

/* Hover part */

#portfolioImg:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/portfolio.jpg") no-repeat 50% 50%;
}

#eventsImg:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/events.jpg") no-repeat 50% 50%;
}

#shootingImg:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/shooting.jpg") no-repeat 50% 50%;
}

/* Hover part - end */

.trait {
    background-color: black;
    width: 40%;
    height: 1px;
    margin: 0px auto 4% auto;
}

/* Fin Menu */

#bio {
    padding: 0% 15%;
    text-align: justify;
    margin-bottom: 40px;
}

#bio p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#bio h2 {
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

#contact {
    text-align: center;
}

#contact h2 {
    padding: 40px 0;
    font-size: 30px;
}

hr {
    border: 1px solid;
    border-color: rgb(63, 63, 63);
}

/*-------------------------------------*/

footer {
    height: 32px;
    padding: 0px 0px 0px 0px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
}

footer ul li {
    list-style-type: none;
    margin-right: 4%;
    margin-left: 4%;
}

footer ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.twitter {
    background-image: url("../images/twitter.png");
}

.instagram {
    background-image: url("../images/instagram.png");
}

.facebook {
    background-image: url("../images/facebook.png");
}

.behance {
    background-image: url("../images/behance.png");
}

.contact {
    width: auto;
}

/*-------------------------------------*/


#formulaire {
    padding: 0% 5%;
    padding-top: 40px;
}

#formulaire h2 {
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form div {
    margin: 0 10%;
    padding-bottom: 20px;
    text-align: center;
}

input, textarea {
    border-color: rgb(63, 63, 63);
    border-radius: 3px;
    border-width: 1px;
    color: rgb(63, 63, 63);
    font-family: 'Quicksand', sans-serif;
    padding: 2px 2px;
}

#email {
    width: 94%;
    height: 20px;
    margin: 2px 0 0 0;
}

#message {
    width: 94%;
    height: 100px;
    margin: 2px 0 0 0;
}

label {
    font-size: 20px;
    float: left;
    padding-left: 3%;
}



.modal {
    position: fixed;
    top: 20%;
    left: 15%;
    right: 15%;
    height: 40%;
    background-color: rgba(63, 63, 63, 0.884);
    opacity: 0,8;
    color: white;
    padding-bottom: 0px;
    display: none;
    border-radius: 3px;
}

#modal h2 {
    padding: 4% 0;
}
#modal button {
    margin-top: 10%;
    background-color: white;
    color: rgb(63, 63, 63);
    width: 20%;
    height: 30px;
    border-radius: 3px;
}




#bouton {
    padding: 20px 0 40px 0;
}

/*#send {
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    font-size: 15px;
    padding: 3px 0;
    font-family: 'Quicksand', sans-serif;
}*/

.effectSend {
    border-radius: 2px;
    background-color: rgb(63, 63, 63);
    border: none;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .effectSend span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .effectSend span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .effectSend:hover span {
    padding-right: 25px;
  }
  
  .effectSend:hover span:after {
    opacity: 1;
    right: 0;
  }








button:hover:not(.option) {
    background-color:rgb(63, 63, 63);
    color: white;
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .header {
        height: 450px;
    }
    .portfoliotitle {
        font-size: 100px;
        font-family: 'Quicksand', sans-serif;
        color: white;
        margin: auto;
    }
}

#en {
    display: none;
}

.button_lang {
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.button_lang:hover, .current_lang {
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

#fr_click{
    width: 30px;
    height: 20px;
    margin-bottom: 5px;
    background-image: url("../images/france.png");
    background-position: center;
    background-size: cover;
 }

#en_click{
    width: 30px;
    height: 20px;
    background-image: url("../images/uk.png");
    background-position: center;
    background-size: cover;
}

#trad{
    position: absolute;
    top: 5%;
    right: 1%;
}

#trad ul li {
    display: block;
    float: left;
}