* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Quicksand', sans-serif;
    color: #525252;
    font-size: 1em;
}

/* Menu */
nav.round_menu {
    margin: 4% 0%;
    display: flex ;
    flex-flow: row wrap ;
    justify-content: space-around;
}

.option{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: white;
    border:none;
    transition-duration: 0.5s ;
    border: 2px solid rgb(63, 63, 63) ;
    cursor: pointer;
}


.option:hover a {
    color: white ;
}

.option a{
    text-decoration:none;
    color: rgb(63, 63, 63) ;
    font-size: 120% ;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold ;
}

/* Hover part */
#eventsImg:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/events.jpg") no-repeat 50% 50% ;
}

#aboutMeImg:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/aboutme.jpg") no-repeat 50% 50% ;
}

#shootingImg:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/shooting.jpg") no-repeat 50% 50% ;
}
/* Hover part - end */

.trait{
    background-color:black;
    width: 40%;
    height: 1px;
    margin: 20px auto;
}
/* Fin Menu */


#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3vw 0%;
}

#gallery article {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 350px;
    margin: 2px;
}


.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1457449482263-1caf240046cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;

    

}

.home {

    height: 64px;
    width: 64px;
    background-image: url("../images/home2.png");
    position: absolute;
    top: 2%;
    left: 2%;
}

.home a {
    height: 64px;
    width: 64px;
    display: flex;
}

.portfoliotitle {
    font-size : 45px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin: auto;
    text-shadow: white 1px 1px,white -1px 1px,white -1px -1px, white 1px -1px;
}


footer{
    height: 32px;
    padding: 8 0 8 0;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 0 0 0;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/noise-bg.png) repeat 0 0;
}

footer ul li{
    list-style-type: none;
    margin-right: 8%;
}

footer ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #525252;
    text-decoration: none;
}

.twitter{background-image: url("../images/twitter.png");}
.instagram{background-image: url("../images/instagram.png");}
.facebook{background-image: url("../images/facebook.png");}
.behance{background-image: url("../images/behance.png");}
.contact{width: auto;}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .header {
        height: 450px;
    }

    .portfoliotitle {
        font-size : 100px;
        font-family: 'Quicksand', sans-serif;
        color: white;
        margin: auto;
    }
    

}

/*Section Photo */

#photo1{
    background-image:url("https://images.unsplash.com/photo-1533719712446-75425696df9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    
}

#photo2{
    background-image:url("https://images.unsplash.com/photo-1562605021-a3043150d280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    
}

#photo3{
    background-image:url("https://images.unsplash.com/photo-1522309980541-7df2b74f5bab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1262&q=80");
  
}

#photo4{
    background-image:url("https://images.unsplash.com/photo-1518565756759-98c6cbc5fa33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1457&q=80");
   
}

#photo5{
    background-image:url("https://images.unsplash.com/photo-1494517378030-4c40fe233e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    
}

#photo6{
    background-image:url("https://urbexsession.com/wp-content/uploads/2013/10/sanatorium-nestor-pirotte-44-1024x683.jpg");
   
}

#photo7{
    background-image:url("https://ichef.bbci.co.uk/wwfeatures/wm/live/624_351/images/live/p0/49/lr/p049lrff.jpg");
  
}

#photo8{
    background-image:url("https://images.unsplash.com/photo-1453989799106-bbad8d7b5191?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
   
}

#photo9{
    background-image:url("https://expatliving.hk/wp-content/uploads/2014/04/HK-URBEX-4.jpg");
  
}

#photo10{
    background-image:url("http://www.jacquier-photo.fr/wp-content/uploads/2017/06/photographe-portrait-exterieur-nancy-danseuse-sakiko-oishi.jpg");
    
}
