* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: grey;
    height: 400px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3vw 0%;
}

#gallery article {
    background-color: black;
    height: 300px;
    width: 350px;
    margin: 2px;
}


